<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="width: 100%">
        <div style="float: left; width: 30%">
            <ul>
                <li><a href="/office">Страница управления </a></li>
                <li><a href="/office/report">Отчет о списании </a></li>
                <li><a href="/office/currencies">Курсы валют </a></li>
                <li><a href="/home/logout">Выход</a></li>
            </ul>
        </div>
        <div class="content" style="float: left; width: 70%">{% block body %}{% endblock %}</div>
    </div>
</body>
</html>